@import "global";

@mixin contentseditor_exports {
    
    ContentsEditorSeparator_BackgroundColor: $Global_SeparatorBackground;
    ContentsEditorSeparator_TextColor: $Global_NormalText;

    SourceSeparator_TextColor: $Global_NormalText;
    SourceSeparator_DisabledTextColor: $Global_DisabledText;

    SourceInspector_RadioButtonTextColor: $Global_NormalText;
    SourceInspector_RadioButtonDisabledTextColor: $Global_DisabledText;
    SourceInspector_RadioButtonSelectedTextColor: $Global_NormalText;
    SourceInspector_RadioButtonSelectedDisabledTextColor: $Global_DisabledText;

    SequenceListControl_BackgroundColor: $Global_ListBackground;
    SequenceListControl_TextColor: $Global_NormalText;
    SequenceListControl_VerticalSeparatorColor: applyTint(rgb(125,125,125));

    PlaylistTreeControl_BackgroundColor: $Global_ListBackground;
} 
