@import "global";

$MixingDesk_TextColor: applyTint(rgb(255, 255, 255));
$MixingDesk_TextDisabledColor: applyTint(rgb(198, 198, 198));
$MixingDesk_BackgroundActiveColor: $Global_Accent;
$MixingDesk_BackgroundColor: applyTint(rgb(82, 82, 82));

@mixin mixingdesk_exports {
    $header_BG: rgb(180, 180, 180);

    BusBypassMixer_BackgroundInactiveColor: $Global_Background;
    BusBypassMixer_BackgroundActiveColor: $Global_Background;

    BusDuckingMixer_BackgroundInactiveColor: $Global_Background;
    BusDuckingMixer_BackgroundActiveColor: $Global_Background;

    BusIsDuckingMixer_BackgroundColor: $Global_Background;
    BusIsDuckingMixer_TextColor: $MixingDesk_TextColor;

    AttenuationMixer_BackgroundColor: $MixingDesk_BackgroundColor;
    AttenuationMixer_TextColor: $MixingDesk_TextColor;
    AttenuationMixer_TextDisabledColor: $MixingDesk_TextDisabledColor;

    EffectMixer_BackgroundEvenColor: $MixingDesk_BackgroundColor;
    EffectMixer_BackgroundOddColor: applyTint(rgb(98, 98, 98));
    EffectMixer_TextColor: $MixingDesk_TextColor;
    EffectMixer_TextBypassColor: $MixingDesk_TextDisabledColor;

    GameParametersMixer_BackgroundColor: $MixingDesk_BackgroundColor;
    GameParametersMixer_TextColor: $MixingDesk_TextColor;

    AuxBusSendMixer_BackgroundEvenColor: $MixingDesk_BackgroundColor;
    AuxBusSendMixer_BackgroundOddColor: applyTint(rgb(114, 114, 114));

    OutputBusMixer_BackgroundColor: $MixingDesk_BackgroundColor;
    OutputBusMixer_TextColor: $MixingDesk_TextColor;
    OutputBusMixer_TextDisabledColor: $MixingDesk_TextDisabledColor;

    StateGroupMixer_BackgroundColor: $MixingDesk_BackgroundColor;
    StateGroupMixer_TextColor: $MixingDesk_TextColor;

    StateGroupSectionMixer_BackgroundActiveColor: $Global_Accent;;
    StateGroupSectionMixer_BackgroundInactiveColor: applyTint($header_BG);
    StateGroupSectionMixer_TextActiveColor: applyTint(rgb(255, 255, 255));
    StateGroupSectionMixer_TextInactiveColor: applyTint(rgb(0, 0, 0));

    ActivityMixer_BackgroundInactiveColor: $Global_Background;
    ActivityMixer_BorderInactiveColor: $Global_Background;
    ActivityMixer_BackgroundActiveColor: $Global_Background;
    ActivityMixer_BorderActiveColor: applyTint(rgb(158, 192, 208));

    DragDropAdornerMixer_BackgroundColor: applyTint(rgb(0, 0, 255));

    ObjectHeaderMixer_BackgroundColor: applyTint($header_BG);
    ObjectHeaderMixer_BackgroundSelectedColor: applyTint(rgb(102, 102, 102));

    SectionGroupHeaderMixer_BackgroundColor: applyTint(darken($header_BG, 5%));
    
    SectionHeaderMixer_BackgroundColor: applyTint($header_BG);

    MixingDeskControl_BackgroundColor: applyTint(rgb(140, 140, 140));
}
