@import "global";

@mixin effects_exports {
    ConvolutionReverb_EQCurve: rgb(1, 74, 107);
    ConvolutionReverb_IRLevel: rgb(192, 80, 70);
    ConvolutionReverb_IRLowPassFilter: rgb(243, 231, 120);
    ConvolutionReverb_IRWaveViewerWaveColor: applyTint(rgb(50, 50, 50));
    ConvolutionReverb_IRRectangleColor: applyTint(rgba(0, 0, 0, 0.1255));

    Reflect_VLDistanceAttenuation: rgb(242, 61, 61);
    Reflect_ELDistanceAttenuation: rgb(121, 30, 30);
    Reflect_VLDistanceSpread: rgb(104, 122, 129);
    Reflect_VLDistanceLowPassFilter: rgb(35, 105, 140);
    Reflect_VLDistanceHighPassFilter: rgb(48, 143, 191);
    Reflect_DiffractionAttenuation: $Global_CurveColorYellow;
    Reflect_DiffractionLowPassFilter: $Global_CurveColorPurple;
    Reflect_DiffractionHighPassFilter: $Global_CurveColorPurpleLightened;
    Reflect_BackgroundColor: $Global_Background;

    Recorder_StatusTextColor: applyTint(rgb(40, 40, 40));
    Recorder_StatusTextRecordingColor: $Global_RedTextDark;
    Recorder_StatusTextErrorColor: $Global_RedTextDark;
}
