$tint:rgb(78, 16, 224);
$mix: 0%;

//$tint:rgb(0, 0, 0);
//$mix: 100%;

$bitmapTint: rgb(182, 16, 224);
$bitmapMix: 0%;

//$bitmapTint: rgb(0, 0, 0);
//$bitmapMix: 100%;

@function applyTint($color) {
    @return mix($tint, $color, $mix);
}

@function applyTintNormalized($r, $g, $b, $a) {
    @return applyTint(rgba($r * 255, $g * 255, $b * 255, $a));
}

// Based on WwiseUi's GetLigherColor [sic]. Useful for highlights
@function lighterColor($color) {
    @return rgb(
            red($color) + (255 - red($color)) / 2,
            green($color) + (255 - green($color)) / 2,
            blue($color) + (255 - blue($color)) / 2
        );
}

@function clamp($value, $min, $max) {
    @return if($value > $max, $max, if($value < $min, $min, $value));
}

@function clampColorValue($value) {
    @return clamp($value, 0, 255);
}

// Based on UISubClassingMgr::ColorBrightness
@function colorBrightness($color, $brightness) {
    @if $brightness > 0 {
        @return rgb(
            clampColorValue(red($color) + (255 - red($color)) * $brightness),
            clampColorValue(green($color) + (255 - green($color)) * $brightness),
            clampColorValue(blue($color) + (255 - blue($color)) * $brightness)
            );
    } @else {
        @return rgb(
            clampColorValue(red($color) * ($brightness + 1)),
            clampColorValue(green($color) * ($brightness + 1)),
            clampColorValue(blue($color) * ($brightness + 1))
        );
    }
}

@function setAlpha($color, $alpha) {
    @return rgba(red($color), green($color), blue($color), $alpha);
}

$Global_Text: applyTint(rgb(0, 0, 0));
$Global_NormalText: applyTint(rgb(255, 255, 255));
$Global_DisabledText: applyTint(rgb(170, 170, 170));
$Global_WarningTextOverLightBackground: applyTint(rgb(135, 113, 16));

$Global_RedTextDark:     hsl(0, 100%, 36%);
$Global_RedTextLight:    hsl(0, 99%, 61%);

$Global_BlueTextDark:    hsl(235, 100%, 41%);
$Global_BlueTextLight:   hsl(196, 98%, 50%);

$Global_GreenTextDark:   hsl(89, 100%, 16%);
$Global_GreenTextLight:  hsl(90, 100%, 43%);

$Global_YellowTextDark:  hsl(0, 0%, 0%);
$Global_YellowTextLight: hsl(60, 100%, 50%);

$Global_FadeCurve:                      hsl(195, 45%, 57%);
$Global_FadeCurveDark:                  rgb(67, 103, 115);
$Global_FadeCurveMedium:                rgb(0, 150, 255);
$Global_FadeCtrl:                       hsl(195, 45%, 67%);
$Global_FadeCtrlEdge:                   hsl(195, 48%, 26%);
$Global_CurveColorRedLightened:         hsl(0, 100%, 73%);
$Global_CurveColorRed:                  hsl(0, 100%, 63%);
$Global_CurveColorRedDarkened:          hsl(0, 44%, 46%);
$Global_CurveColorRedOrangeLightened:   hsl(9, 100%, 75%);
$Global_CurveColorRedOrange:            hsl(9, 100%, 62%);
$Global_CurveColorRedOrangeDarkened:    hsl(9, 63%, 44%);
$Global_CurveColorOrangeLightened:      hsl(27, 100%, 75%);
$Global_CurveColorOrange:               hsl(27, 100%, 62%);
$Global_CurveColorOrangeDarkened:       hsl(27, 55%, 42%);
$Global_CurveColorYellowLightened:      hsl(60, 100%, 83%);
$Global_CurveColorYellow:               hsl(54, 100%, 63%);
$Global_CurveColorYellowDarkened:       hsl(54, 57%, 45%);
$Global_CurveColorYellowGreenLightened: hsl(80, 100%, 81%);
$Global_CurveColorYellowGreen:          hsl(80, 87%, 59%);
$Global_CurveColorYellowGreenDarkened:  hsl(80, 58%, 42%);
$Global_CurveColorGreenLightened:       hsl(120, 50%, 72%);
$Global_CurveColorGreen:                hsl(120, 61%, 48%);
$Global_CurveColorGreenDarkened:        hsl(120, 61%, 34%);
$Global_CurveColorBlueSaturated:        hsl(202, 100%, 50%);
$Global_CurveColorBlueLightened:        hsl(210, 100%, 67%);
$Global_CurveColorBlue:                 hsl(210, 100%, 50%);
$Global_CurveColorBlueDarkened:         hsl(210, 100%, 38%);
$Global_CurveColorDarkBlueLightened:    hsl(236, 100%, 70%);
$Global_CurveColorDarkBlue:             hsl(236, 100%, 59%);
$Global_CurveColorDarkBlueDarkened:     hsl(236, 59%, 46%);
$Global_CurveColorLightBlueLightened:   hsl(198, 100%, 75%);
$Global_CurveColorLightBlue:            hsl(198, 100%, 64%);
$Global_CurveColorLightBlueDarkened:    hsl(198, 100%, 43%);
$Global_CurveColorPurpleLightened:      hsl(270, 100%, 72%);
$Global_CurveColorPurple:               hsl(270, 87%, 59%);
$Global_CurveColorPurpleDarkened:       hsl(270, 58%, 43%);
$Global_CurveColorPinkLightened:        hsl(324, 100%, 73%);
$Global_CurveColorPink:                 hsl(324, 87%, 59%);
$Global_CurveColorPinkDarkened:         hsl(324, 58%, 47%);
$Global_CurveColorBrownLightened:       hsl(30, 92%, 67%);
$Global_CurveColorBrown:                hsl(30, 58%, 50%);
$Global_CurveColorBrownDarkened:        hsl(30, 60%, 38%);
$Global_CurveColorBrownGrayLightened:   hsl(29, 66%, 64%);
$Global_CurveColorBrownGray:            hsl(29, 35%, 47%);
$Global_CurveColorBrownGrayDarkened:    hsl(29, 37%, 36%);
$Global_CurveColorGrayDarkLightened:    hsl(0, 1%, 57%);
$Global_CurveColorGrayDark:             hsl(0, 0%, 35%);
$Global_CurveColorGrayDarkDarkened:     hsl(0, 0%, 27%);

$Global_DialogTitleBarBG: rgb(120, 120, 120);
$Global_DialogTabBGFocused: rgb(60,60,60);
$Global_DialogTabBGUnfocused: rgb(140, 140, 140);
$Global_DialogTabBorderFocused: rgb(233,233,233);
$Global_DialogTabBorderUnfocused: rgb(30,30,30);

$Global_Background: applyTint(rgb(140, 140, 140));
$Global_BackgroundSelected: applyTint(rgb(96, 96, 96));
$Global_BackgroundSelectedUnfocus: applyTint(rgb(125, 125, 125));
$Global_ObjectColorBackgroundBlendRatio: rgba(0, 0, 0, 0.1);
$Global_FrameBackground: applyTint(rgb(80, 80, 80));
$Global_SeparatorBackground: applyTint(rgb(120, 120, 120));
$Global_ListWarningText: applyTint(rgb(255, 230, 109));


$Global_Accent : applyTint(rgb(83, 192, 231));
$Global_DropHover: $Global_Accent;
$Global_BorderFocused : white;

$Global_ListBackground: applyTint(rgb(160, 160, 160));
$Global_ListBackgroundSelected: applyTint(rgb(96, 96, 96));
$Global_ListBackgroundSelectedUnfocused: applyTint(rgb(125, 125, 125));
$Global_ListBackgroundSelectedOverlay: rgba(0, 0, 0, 0.40);
$Global_ListBackgroundSelectedOverlayPartial: rgba(0, 0, 0, 0.20);
$Global_StructureBorder: applyTint(rgb( 85, 85, 85 ));

//List View with Alternating Rows
// Row 1 - The darker row
$Global_ListRow1Background: rgb(150, 150, 150);
$Global_ListRow1BorderTop: rgb(144, 144, 144);
$Global_ListRow1BorderBottom: rgb(144, 144, 144);
// Row 2 - The lighter row
$Global_ListRow2Background: rgb(155, 155, 155);
$Global_ListRow2BorderTop: rgb(157, 157, 157);
$Global_ListRow2BorderBottom: rgb(157, 157, 157);
// Hierarchy Row
$Global_ListRowParentBackground: rgb(122, 122, 122);
$Global_ListRowParentBorderTop: rgb(147, 147, 147);
$Global_ListRowParentBorderBottom: rgb(100, 100, 100);
// Selection Gutter
$Global_ListSideSelectionGutter: rgb(186, 186, 186);
$Global_ListSideSelection: rgb(0, 0, 0);
$Global_ListSideSelectionPartial: mix($Global_BackgroundSelected, $Global_ListSideSelectionGutter, 40);
// Value Text
$Global_TreeListTextStrong: rgb(255, 255, 255);
$Global_TreeListTextWeak: mix($Global_TreeListTextStrong, $Global_ListRow2Background, 60);
$Global_TreeListSecondaryValueTextStrong: hsl(31, 100%, 80%);
$Global_TreeListSecondaryValueTextWeak: mix($Global_TreeListSecondaryValueTextStrong, $Global_ListRow2Background, 70);
$Global_TreeListMixedValueTextStrong: hsl(112, 100%, 64%);
$Global_TreeListMixedValueTextWeak: mix($Global_TreeListMixedValueTextStrong, $Global_ListRow2Background, 70);

$Global_ButtonBackground: rgb(165, 165, 165);

$Global_EditTextDisabledBackground: applyTint(rgb(154, 154, 154));
$Global_EditTextBackground: applyTint(rgb(163, 163, 163));
$Global_EditTextDisabledText: applyTint(rgb(115, 115, 115));
$Global_EditTextCSLearning: applyTint(rgba(97, 174, 36, 0.2));

// Use this also for kRulerBackground in WwiseUI's Ruler Control
$Global_RulerTextColor: applyTint(rgb(190, 190, 190));
$Global_RulerBackgroundColor: applyTint(rgb(80, 80, 80));
$Global_RulerTickSmallColor: applyTint(rgb(150, 150, 150));
$Global_RulerTickMediumColor: applyTint(rgb(180, 180, 180));
$Global_RulerTickLargeColor: applyTint(rgb(230, 230, 230));

$Global_MuteAccent: $Global_Accent;
$Global_MuteButtonColor: $Global_MuteAccent;
$Global_MuteButtonHighlighted: applyTint(colorBrightness($Global_MuteAccent, 0.4));
$Global_MuteButtonChecked: applyTint(colorBrightness($Global_MuteAccent, -0.2));

$Global_SoloAccent: rgb(233, 206, 31);
$Global_SoloButtonColor: $Global_SoloAccent;
$Global_SoloButtonHighlighted: applyTint(colorBrightness($Global_SoloAccent, 0.4));
$Global_SoloButtonChecked: applyTint(colorBrightness($Global_SoloAccent, -0.3));

$Global_CaptureAccent: rgb(255, 98, 98);

$Global_TimeCursor: applyTint(aqua);

$Global_GraphNodeWire: rgb(50, 50, 50);
$Global_GraphNodeOutline: rgb(240, 240, 240);
$Global_GraphNodeWireSecondary: rgb(90, 90, 90);
$Global_GraphNodeWireFeedback: rgb(140, 40, 40);
$Global_GraphNodeWireMute: rgb(86, 207, 255);
$Global_GraphNodeWireSolo: $Global_SoloAccent;

$Global_PaletteColorNone: applyTint(hsl(0, 0%, 52%));
$Global_PaletteColor1: applyTint(hsl(231, 100%, 69%));
$Global_PaletteColor2: applyTint(hsl(216, 100%, 62%));
$Global_PaletteColor3: applyTint(hsl(187, 71%, 43%));
$Global_PaletteColor4: applyTint(hsl(116, 45%, 46%));
$Global_PaletteColor5: applyTint(hsl(76, 80%, 40%));
$Global_PaletteColor6: applyTint(hsl(55, 63%, 45%));
$Global_PaletteColor7: applyTint(hsl(37, 64%, 48%));
$Global_PaletteColor8: applyTint(hsl(26, 74%, 51%));
$Global_PaletteColor9: applyTint(hsl(5, 100%, 64%));
$Global_PaletteColor10: applyTint(hsl(353, 84%, 63%));
$Global_PaletteColor11: applyTint(hsl(304, 61%, 61%));
$Global_PaletteColor12: applyTint(hsl(289, 77%, 60%));
$Global_PaletteColor13: applyTint(hsl(271, 100%, 67%));

// Versions of the same colors tinted with white
$Global_PaletteColor14:  hsl(237, 71%, 74%);
$Global_PaletteColor15:  hsl(220, 65%, 67%);
$Global_PaletteColor16:  hsl(180, 27%, 62%);
$Global_PaletteColor17:  hsl(120, 24%, 58%);
$Global_PaletteColor18:  hsl(76, 33%, 58%);
$Global_PaletteColor19:  hsl(56, 33%, 58%);
$Global_PaletteColor20:  hsl(40, 37%, 65%);
$Global_PaletteColor21:  hsl(31, 39%, 63%);
$Global_PaletteColor22:  hsl(11, 38%, 63%);
$Global_PaletteColor23:  hsl(0, 37%, 62%);
$Global_PaletteColor24:  hsl(300, 36%, 60%);
$Global_PaletteColor25:  hsl(280, 57%, 66%);
$Global_PaletteColor26:  hsl(258, 79%, 71%);

@mixin global_exports {
    Global_TextColor: $Global_Text;
    Global_BackgroundColor: $Global_Background;
    // TODO: Replace this with Global_BackgroundSelectedColor?
    Global_BackgroundSelect: $Global_BackgroundSelected;
    Global_BitmapTintColor: rgba($bitmapTint, $bitmapMix / 100);

    // == Contrast color adjustment settings
    Global_DarkBlue:  $Global_BlueTextDark;
    Global_LightBlue: $Global_BlueTextLight;

    Global_DarkRed:  $Global_RedTextDark;
    Global_LightRed: $Global_RedTextLight;

    Global_DarkYellow: $Global_YellowTextDark;
    Global_LightYellow: $Global_YellowTextLight;
}
