@import "global";
@import "controls";

@mixin multiswitcheditor_exports {
    ArgumentControl_Selected: applyTint(rgb(56, 132, 157));
    ArgumentControl_Unselected: applyTint(rgb(128, 128, 128));

    ArgumentValueControl_Selected: applyTint(rgb(84, 174, 200));
    ArgumentValueControl_Unselected: $Global_ListBackground;

    ArgumentView_FrameBorder: applyTint(rgb(85, 85, 85));

    ArgumentsPane_TextColor: $Global_NormalText;
    ArgumentsPane_Background: $Global_ListBackground;
    ArgumentsPane_DisabledBackground: $Global_DisabledText;
    ArgumentsPane_DropHover: $Global_DropHover;
}
