@import "global";

@mixin queryeditor_exports {
    CriteriaList_TreeLine: applyTint(rgb(202, 202, 202));

    QueryExpandBar_Background: $Global_SeparatorBackground;
    QueryExpandBar_TitleText: $Global_NormalText;

    QueryParentDialog_Background: $Global_Background;
    QueryParentDialog_Text: $Global_NormalText;
}
