@import "global";
@import "wwiseui";

$ProjectGraph_Highlight: applyTint(rgb(235, 235, 235));
$ProjectGraph_DisabledText: applyTint(rgb(120, 120, 120));

@mixin schematicview_exports {
    IconStripGraphNode_BackgroundColor: applyTint(rgb(140, 140, 140));
    IconStripGraphNode_BackgroundHighlightedColor: applyTint(rgb(140, 140, 140));
    
    ProjectGraphControl_NormalConnector: $Global_GraphNodeWire;
    ProjectGraphControl_BusConnector: $Global_GraphNodeWire;
    ProjectGraphControl_BusOverrideConnector: $Global_GraphNodeWire;
    ProjectGraphControl_AuxBusConnector: $Global_GraphNodeWire;

    ProjectGraphNode_SearchFrameInner: rgb(100, 100, 100);
    ProjectGraphNode_SearchFrameOuter: applyTint(rgb(255, 235, 59));
    ProjectGraphNode_FillHighlight: $Global_BackgroundSelected;
    ProjectGraphNode_FillSearchHighlight: $Global_BackgroundSelected;
    ProjectGraphNode_FillSearch: $NodeBackgroundColor;
    ProjectGraphNode_Fill: $NodeBackgroundColor;
    ProjectGraphNode_NormalText: $Global_Text;
    ProjectGraphNode_HighlightText: $Global_NormalText;
    ProjectGraphNode_DisabledText: $ProjectGraph_DisabledText;
    ProjectGraphNode_DisabledHighlightText: $Global_DisabledText;

    SoundGraphNode_ErrorSourceMissingText: applyTint($Global_RedTextDark);
    SoundGraphNode_ErrorSourceMissingTextHighlight: applyTint($Global_RedTextLight);
    SoundGraphNode_InvalidAudioFileText: applyTint($Global_BlueTextDark);
    SoundGraphNode_InvalidAudioFileTextHighlight: applyTint($Global_BlueTextLight);
    SoundGraphNode_ExcludedLanguageText: $ProjectGraph_DisabledText;
    SoundGraphNode_ExcludedLanguageTextHighlight: $Global_DisabledText;
}
