@import "global";

$GraphEditor_Ruler: applyTint(rgb(64, 64, 64));
$GraphEditor_Normal: applyTint(rgb(235, 235, 235));
$GraphEditor_TrailLine: applyTint(rgb(216, 172, 232));
$GraphEditor_Background: applyTint(rgb(183, 183, 183));
$GraphEditor_Grid: applyTint(rgb(153, 153, 153));

$Ruler_LabelDefaultColor: applyTint(rgb(160, 160, 160));

@mixin wwiselibui_exports {
    GenericEditor_TextColor: applyTint(rgb(32, 32, 32));

    GraphEditor_Background: $GraphEditor_Background;
    GraphEditor_GridBackground: $GraphEditor_Background;
    GraphEditor_Grid: $GraphEditor_Grid;
    GraphEditor_GridAxis: $GraphEditor_Grid;
    GraphEditor_Ticks: $GraphEditor_Grid;
    GraphEditor_Axis: $GraphEditor_Ruler;
    GraphEditor_RulerValue: $GraphEditor_Ruler;
    GraphEditor_RulerLabel: $GraphEditor_Ruler;
    GraphEditor_InvalidRulerLabel: applyTint(rgb(200, 64, 64));

    GraphEditor_CursorNormal: $GraphEditor_Normal;
    GraphEditor_CursorDragged: $GraphEditor_Normal;
    GraphEditor_CursorShadow: applyTint(rgb(128, 128, 128));
    GraphEditor_CursorShadowTransparent: applyTint(rgba(255, 255, 255, 0.25));
    GraphEditor_CursorShadowHover: applyTint(rgb(153, 153, 153));
    GraphEditor_CursorFlagNormal: applyTint(rgb(97, 97, 97));
    GraphEditor_CursorFlagNormalLight: applyTint(rgb(128, 128, 128));
    GraphEditor_CursorFlagNormalHover: applyTint(rgb(160, 160, 160));
    GraphEditor_CursorFlagDragged: applyTint(rgb(70, 70, 70));
    GraphEditor_CursorFlagDraggedHover: applyTint(rgb(144, 144, 144));
    GraphEditor_CursorTextNormal: $GraphEditor_Normal;
    GraphEditor_CursorTextDragged: $GraphEditor_Normal;

    GraphEditor_TrailLine: $GraphEditor_TrailLine;
    GraphEditor_TrailLineHover: applyTint(rgb(223, 188, 236));
    GraphEditor_TrailFlagNormal: $GraphEditor_Normal;
    GraphEditor_TrailFlagDefault: applyTint(rgb(210, 210, 210));
    GraphEditor_TrailTextNormal: applyTint(rgb(97, 97, 97));

	GraphControl_BackgroundColor: applyTint(rgb(183, 183, 183));
	GraphControl_SurroundColor: applyTint(rgb(132, 132, 132));
	GraphControl_OuterRadiusColor: applyTint(rgb(149, 149, 149));
	GraphControl_MidRadiusColor: applyTint(rgb(167, 167, 167));
	GraphControl_ConeColor: applyTint(rgba(100, 130, 180, 0.15));
	GraphControl_FrameLineColor: applyTint(rgb(169, 169, 169));
    GraphControl_AxisColor: applyTint(rgb(202, 202, 202));
    GraphControl_HighlightedSegmentColor: applyTint(rgb(210, 255, 210));
    GraphControl_EvaluatedPointColor: applyTint(rgba(0, 0, 255, 0.25));

	PathControl_FirstPointEdgeColor: applyTint(rgb(16, 128, 16));
    PathControl_LastPointEdgeColor: applyTint(rgb(128, 16, 16));
    
	BaseCurveControl_PointColor: applyTint(rgb(255, 255, 255));
	BaseCurveControl_SelectedPointColor: applyTint(rgb(60, 60, 60));
	BaseCurveControl_PointEdgeColor: applyTint(rgb(16, 16, 16));
	BaseCurveControl_SegmentColor: applyTint(rgb(55, 81, 97));
	BaseCurveControl_UnfocusedPointColor: applyTint(rgb(200, 200, 200));
	BaseCurveControl_UnfocusedSelectedPointColor: applyTint(rgb(90, 90, 90));
	BaseCurveControl_UnfocusedPointEdgeColor: applyTint(rgb(60, 60, 60));
	BaseCurveControl_UnfocusedSegmentColor: applyTint(rgb(80, 104, 122));
	BaseCurveControl_TextColor: applyTint(rgb(32, 32, 32));

    CurvePoint_FocusedSelected: applyTint(rgb(60, 60, 60));
    CurvePoint_FocusedUnselected: applyTint(rgb(255, 255, 255));
    CurvePoint_FocusedBorder: applyTint(rgb(16, 16, 16));
    
    CurvePoint_UnfocusedSelected: applyTint(rgb(90, 90, 90));
    CurvePoint_UnfocusedUnselected: applyTint(rgb(200, 200, 200));
    CurvePoint_UnfocusedBorder: applyTint(rgb(60, 60, 60));

    RadioCheckBox_BackgroundColor: $Global_Background;
    RadioCheckBox_TextColor: $Global_NormalText;
    RadioCheckBox_DisabledTextColor: $Global_DisabledText;
    RadioCheckBox_FocusedBorderColor: $Global_BorderFocused;

    Scroll_BackgroundColor: $Global_Background;
    Scroll_TrackColor: applyTint(rgb(158, 158, 158));
    Scroll_TrackActiveColor: applyTint(rgb(158, 158, 158));
    Scroll_TrackBorderColor: applyTint(rgb(158, 158, 158));
    Scroll_TrackActiveBorderColor: applyTint(rgb(158, 158, 158));
    Scroll_ButtonBackgroundColor: applyTint(rgb(120, 120, 120));
    Scroll_ButtonPressedBackgroundColor: applyTint(rgb(87, 87, 87));
    Scroll_ButtonBorderColor: applyTint(rgb(120, 120, 120));
    Scroll_ButtonPressedBorderColor: applyTint(rgb(87, 87, 87));
    Scroll_ThumbColor: applyTint(rgb(120, 120, 120));
    Scroll_ThumbActiveColor: applyTint(rgb(70, 70, 70));

    Splitter_BackgroundColor: $Global_Background;
    Splitter_LightColor: applyTint(rgb(160, 160, 160));
    Splitter_DarkColor: applyTint(rgb(100, 100, 100));

    BaseZoomable_BackgroundColor: $Global_Background;

    DialogBar_BackgroundColor: $Global_Background;

    FormView_BackgroundColor: $Global_Background;

    Fader_BackgroundColor: $Global_Background;
    Fader_ObjectColorBackgroundBlendRatio: $Global_ObjectColorBackgroundBlendRatio;
    Fader_DisabledBackgroundColor: $Global_EditTextDisabledBackground;
    Fader_DisabledTextColor: $Global_EditTextDisabledText;
    Fader_NormalTextColor: $Global_NormalText;
    Fader_ActiveLine1Color: applyTint(rgb(109, 185, 212));
    Fader_ActiveLine2Color: applyTint(rgb(89, 110, 117));
    Fader_MarkLineColor: applyTint(rgb(101, 101, 101));
    Fader_DisabledColor: applyTint(rgba(140, 140, 140, 0.5));
    Fader_MarkColor1: applyTint(rgba(0, 0, 0, 0.0706));
    Fader_MarkColor2: applyTint(rgba(255, 255, 255, 0.0706));

    Slider_TrayBorderColor: applyTint(rgb(121, 121, 121));
    Slider_TrayBackgroundColor: applyTint(rgb(163, 163, 163));
    Slider_TrayInnerShadowColor: applyTint(rgb(163, 163, 163));
    Slider_DisabledTrayBorderColor: applyTint(rgb(132, 132, 132));
    Slider_DisabledTrayBackgroundColor: applyTint(rgb(154, 154, 154));
    Slider_DisabledTrayInnerShadowColor: applyTint(rgb(154, 154, 154));

    Slider_ActiveLineColor: applyTint(rgb(105, 186, 214));
    Slider_ActiveLineShadowColor: applyTint(rgb(60, 145, 171));
    Slider_DisabledLineColor: applyTint(rgb(170, 170, 170));
    Slider_DisabledLineShadowColor: applyTint(rgb(170, 170, 170));

    Slider_HeadColor: applyTint(rgb(1, 1, 1));
    Slider_DisabledHeadColor: applyTint(rgb(115, 115, 115));

    Slider_BackgroundColor: $Global_Background;

    Slider_ObjectColorBackgroundBlendRatio: $Global_ObjectColorBackgroundBlendRatio;

    FeedbackSlider_TrayBorderColor: applyTint(hsl(0, 0%, 64%));
    FeedbackSlider_TrayBackgroundColor: applyTint(hsl(0, 0%, 64%));
    FeedbackSlider_StaticValueColor: applyTint(hsl(0, 0%, 55%));
    FeedbackSlider_CurrentValueColor: applyTint(hsl(183, 100%, 71%));
    FeedbackSlider_MinMaxValuesColor: applyTint(hsl(0, 0%, 34%));
    FeedbackSlider_MinMaxRangeColor: applyTint(hsl(0, 0%, 55%));
    FeedbackSlider_DisabledTrayBorderColor: applyTint(rgb(133, 133, 133));
    FeedbackSlider_DisabledTrayBackgroundColor: applyTint(rgb(133, 133, 133));
    FeedbackSlider_DisabledStaticValueColor: applyTint(rgb(119, 119, 119));
    FeedbackSlider_NoProfilingTrayBorderColor: applyTint(rgb(128, 128, 128));
    FeedbackSlider_NoProfilingTrayBackgroundColor: applyTint(rgb(128, 128, 128));
    FeedbackSlider_NoProfilingStaticValueColor: applyTint(rgb(98, 98, 98));
    FeedbackSlider_BallisticRangeColor: applyTint(hsl(195, 70%, 38%));

    MiniCone_BackgroundColor: $Global_Background;
    MiniCone_CircleColor: applyTint(rgba(183, 183, 183, 1));
    MiniCone_ConeColor: applyTint(rgba(100, 130, 180, 0.1569));

    MiniConeCursor_EdgeColor: applyTint(rgba(16, 16, 16, 1));
    MiniConeCursor_EdgeNonFocusedColor: applyTint(rgba(100, 100, 100, 1));
    MiniConeCursor_FillColor: applyTint(rgb(242, 61, 61));
    MiniConeCursor_TextBackgroundColor: applyTint(rgba(97, 97, 97, 1));
    MiniConeCursor_TextColor: applyTint(rgba(235, 235, 235, 1));

    PathTimeline_BackgroundColor: $Global_Background;
    PathTimeline_TopPartCenterColor: applyTint(rgb(120, 120, 120));
	PathTimeline_BottomPartColor: $Global_Background;
    PathTimeline_TextColor: applyTint(rgb(64, 64, 64));
    PathTimeline_NormalTickColor: applyTint(rgb(192, 192, 194));

    PropertySheet_BackgroundColor: $Global_Background;

    // Shows up in switch container content editor in the assigned objects section at right 
    ScrollFrame_BackgroundColor: $Global_ListBackground;

    // Individual items in the assigned objects section
    SelectionDialogBar_BackgroundColor: $Global_ListBackground;

    SelectionDialogBar_SelectedBackgroundColor: $Global_ListBackgroundSelected;
    SelectionDialogBar_SelectedUnfocusedBackgroundColor: $Global_ListBackgroundSelectedUnfocused;

    SelectionDialogBarHorizontal_HoverBackgroundColor: $Global_DropHover;
    SelectionDialogBarVertical_HoverBackgroundColor: $Global_DropHover;

    Png_BackgroundColor: $Global_Background;

    Rtcp_BackgroundColor: $Global_Background;
    
    Ruler_LabelDefaultColor: $Ruler_LabelDefaultColor;

	PanningEditor_BackgroundColor: applyTint(rgb(183, 183, 183));
	PanningEditor_SurroundColor: applyTint(rgb(132, 132, 132));
	PanningEditor_FrameLineColor: applyTint(rgb(169, 169, 169));
    PanningEditor_AxisColor: applyTint(rgb(202, 202, 202));
    PanningEditor_PointEdgeColor: applyTint(rgba(16, 16, 16, 1));
    PanningEditor_PointEdgeNonFocusedColor: applyTint(rgba(40, 40, 40, 1));
    PanningEditor_HighlightOverlayColor: applyTint(rgba(255, 255, 255, 0.0784));
    PanningEditor_PointColor: applyTint(rgba(200, 200, 200, 1));
    PanningEditor_PointSelectedColor: applyTint(rgba(80, 80, 80, 1));
    
    ComboListBox_BackgroundSelectedColor: applyTint(#0078d7);
    ComboListBox_BackgroundColor: applyTint(rgb(255, 255, 255));
    ComboListBox_TextSelectedColor: $Global_Text;
    ComboListBox_TextColor: $Global_Text;

    CurveMenu_SegmentHighlightOverlayColor: applyTint(rgba(255, 255, 255, 0.7843));

    ObjectColor_PaletteColorNone: $Global_PaletteColorNone;
    ObjectColor_PaletteColor1: $Global_PaletteColor1;
    ObjectColor_PaletteColor2: $Global_PaletteColor2;
    ObjectColor_PaletteColor3: $Global_PaletteColor3;
    ObjectColor_PaletteColor4: $Global_PaletteColor4;
    ObjectColor_PaletteColor5: $Global_PaletteColor5;
    ObjectColor_PaletteColor6: $Global_PaletteColor6;
    ObjectColor_PaletteColor7: $Global_PaletteColor7;
    ObjectColor_PaletteColor8: $Global_PaletteColor8;
    ObjectColor_PaletteColor9: $Global_PaletteColor9;
    ObjectColor_PaletteColor10: $Global_PaletteColor10;
    ObjectColor_PaletteColor11: $Global_PaletteColor11;
    ObjectColor_PaletteColor12: $Global_PaletteColor12;
    ObjectColor_PaletteColor13: $Global_PaletteColor13;
    ObjectColor_PaletteColor14: $Global_PaletteColor14;
    ObjectColor_PaletteColor15: $Global_PaletteColor15;
    ObjectColor_PaletteColor16: $Global_PaletteColor16;
    ObjectColor_PaletteColor17: $Global_PaletteColor17;
    ObjectColor_PaletteColor18: $Global_PaletteColor18;
    ObjectColor_PaletteColor19: $Global_PaletteColor19;
    ObjectColor_PaletteColor20: $Global_PaletteColor20;
    ObjectColor_PaletteColor21: $Global_PaletteColor21;
    ObjectColor_PaletteColor22: $Global_PaletteColor22;
    ObjectColor_PaletteColor23: $Global_PaletteColor23;
    ObjectColor_PaletteColor24: $Global_PaletteColor24;
    ObjectColor_PaletteColor25: $Global_PaletteColor25;
    ObjectColor_PaletteColor26: $Global_PaletteColor26;

    // Alpha is used to specify how much of the border color is blended with the palette color.
    UIColorChip_BorderColor: applyTint(rgba(75, 75, 75, 0.5));
    UIColorChip_BorderDisabledColor: applyTint(rgba(75, 75, 75, 0.5));
    UIColorChip_DisabledOverlayColor: applyTint(rgba(75, 75, 75, 0.5));
    UIColorChip_BorderFocusedColor: rgba(180, 180, 180, 0.6);
    UIColorChip_BorderSelectedColor: rgba(255, 255, 255, 0.6);
    UIColorChip_BorderSelectedFocusedColor: rgba(180, 180, 180, 0.6);

    UIColorChip_IndeterminateOuterBackgroundColor: applyTint(rgb(163, 163, 163));
    UIColorChip_IndeterminateInnerBackgroundColor: applyTint(rgb(232, 232, 232));

    ColorPicker_BackgroundColor: applyTint(rgb(90, 90, 90));
    ColorPicker_BorderColor: applyTint(rgb(75, 75, 75));
}
