@import "global";

@mixin controls_exports {

    Dialog_BackgroundColor: $Global_Background;
    Dialog_TextColor: $Global_NormalText;
    Dialog_DisabledTextColor: $Global_DisabledText;
    Dialog_OuterSideBackgroundColor: $Global_Background;
    Dialog_InnerSideBackgroundColor: $Global_Background;

    // Alpha is used to specify how much of the background color is blended with the object color (if any).
    Dialog_TitlebarActiveFillColor: applyTint(rgba(233,233,230, 0.7));
    Dialog_TitlebarNonActiveFillColor: applyTint(rgba(216, 216, 216, 0.7));

    Dialog_TitlebarActiveBorderColor: applyTint(rgb(60,60,60));
    Dialog_TitlebarNonActiveBorderColor: applyTint(rgb(60,60,60));
    Dialog_TitlebarActiveTextColor: applyTint(rgb(0,0,0));
    Dialog_TitlebarNonActiveTextColor: applyTint(rgb(59, 59, 59));
    Dialog_TitlebarButtonTextColor: applyTint(rgb(0,0,0));

    // Alpha is used to specify how much of the background color is blended with the object color (if any).
    Dialog_TitlebarButtonHoverFillColor: applyTint(rgba(195, 195, 195, 0.3));
    Dialog_TitlebarButtonPressedFillColor: applyTint(rgba(175, 175, 175, 0.3));

    Dialog_TitlebarCloseButtonHoverFillColor: applyTint(rgb(232,17,35));
    Dialog_TitlebarCloseButtonPressedFillColor : applyTint(rgb(242,112,122));

    Dialog_TitlebarActiveMenuButtonNormalTextColor: applyTint(rgb(0,0,0));
    Dialog_TitlebarNonActiveMenuButtonNormalTextColor: applyTint(rgb(255,255,255));

    // Alpha is used to specify how much of the background color is blended with the object color (if any).
    Dialog_TitlebarMenuButtonHoverFillColor:applyTint(rgba(189, 189, 189, 0.3));
    Dialog_TitlebarMenuButtonPressedFillColor:applyTint(rgba(173, 173, 173, 0.3));

    Dialog_TitlebarMenuButtonHoverTextColor:applyTint(rgb(0, 0, 0));
    Dialog_TitlebarMenuButtonPressedTextColor:applyTint(rgb(0, 0, 0));
    
    ListControl_BackgroundColor: $Global_ListBackground;
    ListControl_SelectionNotFocusedColor: $Global_ListBackgroundSelectedUnfocused;
    ListControl_BackgroundSelectedColor: $Global_ListBackgroundSelected;
    ListControl_RelatedItemBackgroundColor: applyTint(rgb(140, 140, 140));
    ListControl_RelatedItemTextColor: applyTint($Global_NormalText);
    ListControl_BorderColor: $Global_StructureBorder;
    ListControl_DragOverColor: $Global_DropHover;
    
    Button_BackgroundColor: $Global_ButtonBackground;
    Button_BackgroundPressedColor: applyTint(rgba(255, 255, 255, 0.35));
    Button_BackgroundHoverColor: applyTint(rgba(255, 255, 255, 0.2));
    Button_BackgroundCheckedColor: applyTint($Global_Accent);
    Button_BackgroundLearnColor: applyTint(rgb(97, 174, 36));
    Button_BackgroundDisabledColor: rgba(136, 136, 136, 0.55);
    Button_TextColor: applyTint(rgb(255, 255, 255));
    Button_TextPressedColor: applyTint(rgb(255, 255, 255));
    Button_TextDisabledColor: applyTint(rgb(170, 170, 170));
    Button_TextCheckedColor: applyTint(black);
    Button_TextCheckedPressedColor: applyTint(black);
    Button_TextCheckedDisabledColor: applyTint(mix(black, $Global_Background, 30%));
    Button_DialogBackgroundColor: $Global_Background;

    Button_BorderColor: applyTint(rgb(112, 112, 112));
    Button_DisabledBorderColor: applyTint(rgb(128, 128, 128));
    Button_FocusedBorderColor: applyTint(rgb(230, 230, 230));

    // Alpha is used as a lightness adjustement factor, the other components are not used.
    Button_InnerBorderLightness: applyTint(rgba(0, 0, 0, 0.08));
    Button_DisabledInnerBorderLightness: applyTint(rgba(0, 0, 0, 0.04));

    CustomButton_DefaultTextColor: $Global_Text;

    Caption_TextColor: applyTint(rgb(40, 40, 40));
    Caption_TextDisabledColor: applyTint(rgb(96, 96, 96));
    Caption_TextErrorColor: applyTint(rgb(255, 0, 0));
    Caption_TextWarningColor: applyTint(rgb(255, 230, 109));
    Caption_BorderColor: applyTint(rgb(120, 120, 120));
    Caption_BackgroundColor: applyTint(rgba(187, 187, 187, 0.2824));
    Caption_DialogBackgroundColor: $Global_Background;

    HeaderControl_TopColor1: applyTint(rgb(93, 93, 93));
    HeaderControl_TopHoverColor1: applyTint(rgb(110, 110, 110));
    HeaderControl_TopActiveColor1: applyTint(rgb(123, 123, 123));
    HeaderControl_TopColor2: applyTint(rgb(119, 119, 119));
    HeaderControl_TopHoverColor2: applyTint(rgb(144, 144, 144));
    HeaderControl_TopActiveColor2: applyTint(rgb(141, 141, 141));
    HeaderControl_TopColor3: applyTint(rgb(109, 109, 109));
    HeaderControl_TopHoverColor3: applyTint(rgb(135, 135, 135));
    HeaderControl_TopActiveColor3: applyTint(rgb(159, 159, 159));
    HeaderControl_MiddleColor: applyTint(rgb(109, 109, 109));
    HeaderControl_MiddleHoverColor: applyTint(rgb(135, 135, 135));
    HeaderControl_MiddleActiveColor: applyTint(rgb(163, 163, 163));
    HeaderControl_BottomColor1: applyTint(rgb(101, 101, 101));
    HeaderControl_BottomHoverColor1: applyTint(rgb(129, 129, 129));
    HeaderControl_BottomActiveColor1: applyTint(rgb(171, 171, 171));
    HeaderControl_BottomColor2: applyTint(rgb(93, 93, 93));
    HeaderControl_BottomHoverColor2: applyTint(rgb(121, 121, 121));
    HeaderControl_BottomActiveColor2: applyTint(rgb(188, 188, 188));
    HeaderControl_BottomColor3: applyTint(rgb(75, 75, 75));
    HeaderControl_BottomHoverColor3: applyTint(rgb(123, 123, 123));
    HeaderControl_BottomActiveColor3: applyTint(rgb(123, 123, 123));
    HeaderControl_TextColor: applyTint(rgb(220, 220, 220));
    HeaderControl_TextHoverColor: applyTint(rgb(255, 255, 255));
    HeaderControl_TextActiveColor: applyTint(rgb(255, 255, 255));
    HeaderControl_LineColor: applyTint(rgb(144, 144, 144));

    // Color for behind the tabs
    View_TitleBackgroundColor: $Global_DialogTitleBarBG;
    
    View_ActiveBorderColor: $Global_DialogTabBorderFocused;
    View_ActiveFillColor: $Global_DialogTabBorderFocused;
    View_ActiveTextColor: rgb(0, 0, 0);
    View_ActiveTitleBottomLineColor: $Global_DialogTabBorderUnfocused;
    View_ActiveTabBorderColor: $Global_DialogTabBorderFocused;
    // Seems to be unused
    View_ActiveTitleBorderColor: rgb(60, 60, 60);

    View_NonActiveBorderColor: $Global_DialogTabBorderUnfocused;
    View_NonActiveFillColor: $Global_DialogTabBGUnfocused;
    View_NonActiveTextColor: rgb(255, 255, 255);
    View_NonActiveTitleBottomLineColor: $Global_DialogTabBGUnfocused;
    View_NonActiveTabBorderColor: $Global_DialogTabBorderUnfocused;
    // Seems to be unused
    View_NonActiveTitleBorderColor: rgb(60, 60, 60);

    View_NeverActiveBorderColor: $Global_DialogTabBorderUnfocused;
    View_NeverActiveFillColor: $Global_DialogTabBGUnfocused;
    View_NeverActiveTextColor: rgb(255, 255, 255);
    View_NeverActiveTitleBottomLineColor: $Global_DialogTabBGUnfocused;
    View_NeverActiveTabBorderColor: $Global_DialogTabBorderUnfocused;
    // Seems to be unused
    View_NeverActiveTitleBorderColor: rgb(60, 60, 60);


    View_FrameColor: $Global_Background;
    View_InactiveBackgroundColor: $Global_Background;
    View_ControlSurfaceButtonActiveBackgroundColor:applyTint(rgb( 168, 168, 168 ));
    View_ControlSurfaceButtonInactiveBackgroundColor:applyTint(rgb( 96, 96, 96 ));

    View_SplitterColor: $Global_SeparatorBackground;
    View_SplitterHoverColor: applyTint(rgb(185,185,185));

    View_NumberedButtonNormalColor: applyTint(rgb(0, 0, 0));
    View_NumberedButtonHotColor: applyTint(rgb(0,0,0));
    View_NumberedButtonDisabledColor: applyTint(rgb(160,160,160));

    View_ButtonCheckedBackgroundColor: applyTint(rgb(83,168,196));
    View_ButtonCheckedHotBackgroundColor: applyTint(rgb(117,185,207));
    View_ButtonHotBackgroundColor:applyTint(rgb(195,195,195));
    View_ButtonPressedBackgroundColor: applyTint(rgb(175,175,175));
    View_ButtonDangerHotBackgroundColor:applyTint(rgb(231,16,38));
    
    ColorChip_SeverityMessage: applyTint(rgb(255, 255, 255));
    ColorChip_SeveritySuccess: applyTint(rgb(151, 242, 61));
    ColorChip_SeverityWarning: applyTint(rgb(245, 245, 162));
    ColorChip_SeverityError: applyTint(rgb(162, 33, 33));
    ColorChip_SeverityFatalError: applyTint(rgb(0, 0, 0));
    ColorChip_SeverityUnknown: applyTint(rgb(0, 0, 0));
    ColorChip_Border: applyTint(rgb(64, 64, 64));
    ColorChip_NoObject: rgb(180, 180, 180);
    ColorChip_DisabledOverlay: transparentize($Global_Background, 0.5);

    CustomButton_BackgroundColor: $Global_Background;

    Edit_BorderColor: applyTint(rgb(127, 127, 127));
    Edit_FocusedBorderColor: $Global_BorderFocused;
    Edit_DisabledBorderColor: applyTint(rgb(132, 132, 132));
    Edit_InnerShadowColor: applyTint(rgb(149, 149, 149));
    Edit_DisabledInnerShadowColor: applyTint(rgb(139, 139, 139));
    Edit_BackgroundColor: $Global_EditTextBackground;
    Edit_BackgroundLearnColor: $Global_EditTextCSLearning;
    Edit_DisabledBackgroundColor: $Global_EditTextDisabledBackground;
    Edit_DisabledTextColor: $Global_EditTextDisabledText;
    Edit_NormalTextColor: $Global_NormalText;

    Spinner_TriangleColor: applyTint(rgb(101, 101, 101));
	Spinner_ActiveTriangleColor: applyTint(rgb(71, 71, 71));
	Spinner_PressedTriangleColor: applyTint(rgb(58, 58, 58));
	Spinner_DisabledTriangleColor: applyTint(rgb(135, 135, 135));

    ComboBox_BackgroundColor : $Global_EditTextBackground;
    ComboBox_TextColor: $Global_NormalText;
    ComboBox_ErrorTextColor: applyTint(rgb(185, 0, 0));
    ComboBox_BorderColor: applyTint(rgb(127, 127, 127));
    ComboBox_InnerBorderColor: applyTint(rgb(170, 170, 170));
    ComboBox_FocusedBorderColor: $Global_BorderFocused;
    ComboBox_BackgroundLearnColor: $Global_EditTextCSLearning;
    ComboBox_DisabledBackgroundColor: $Global_EditTextDisabledBackground;
    ComboBox_DisabledTextColor : $Global_EditTextDisabledText;
    ComboBox_DisabledBorderColor: applyTint(rgb(131, 131, 131));
    ComboBox_DisabledInnerBorderColor: applyTint(rgb(160, 160, 160));
    ComboBox_NormalIconColor:applyTint(rgb(101, 101, 101));
    ComboBox_HotIconColor: applyTint(rgb(71, 71, 71));
    ComboBox_DisabledIconColor: applyTint(rgb(133, 133, 133));
    ComboBox_PressedIconColor: applyTint(rgb(40, 40, 40));

    GroupBox_BackgroundColor: $Global_Background;
    GroupBox_LineColor: applyTint(rgb( 171, 171, 171 ));
    GroupBox_LineShadowColor: applyTint(rgb( 131, 131, 131 ));
    GroupBox_TextColor: $Global_NormalText;
    GroupBox_DisabledTextColor: $Global_DisabledText;

    TabControl_BackgroundColor: $Global_Background;
    TabControl_OnNormalBackgroundColor:$Global_Background;
    TabControl_OffNormalBackgroundColor:applyTint(rgb(130, 130, 130));
    TabControl_OffHotBackgroundColor:applyTint(rgb( 146, 146, 146));
    TabControl_OnNormalBorderColor:applyTint(rgb(206, 204, 204));
    TabControl_OffNormalBorderColor:applyTint(rgb(100, 100, 100));
    TabControl_OffHotBorderColor:applyTint(rgb(190, 190, 190));
    TabControl_OnNormalTextColor:$Global_NormalText;
    TabControl_OffNormalTextColor:applyTint(rgb(220, 220, 220));;
    TabControl_OffHotTextColor:$Global_NormalText;

    Menu_Background: rgb(242, 242, 242);
    Menu_SelectedBackground: rgb(145, 201, 247);
    Menu_SelectedDisabledBackground: rgb(230, 230, 230);
    Menu_Text: rgb(0, 0, 0);
    Menu_DisabledText: rgb(109, 109, 109);
    Menu_Separator: rgb(215, 215, 215);
    Menu_Arrow: applyTint(rgb(62, 62, 62));
    Menu_SelectedArrow: applyTint(rgb(40, 40, 40));
    Menu_DisabledArrow: applyTint(rgb(167, 167, 167));
    Menu_Checkmark:rgb(145, 201, 247);
    Menu_SelectedCheckmark: applyTint(rgb(86, 176, 250));
    Menu_DisabledCheckmark: applyTint(rgb(133, 133, 133));

    Link_BackgroundColor: $Global_Background;

    Meter_DialogBackgroundColor: $Global_Background;
    Meter_GridColor: applyTint(rgb(57, 57, 57));
    Meter_RedMixColor: applyTint(#af322c);
    Meter_GreenMixColor: applyTint(#49a048);
    Meter_YellowMixColor: applyTint(#c6b333);
    Meter_RedColor: applyTint(rgb(217, 51, 43));
    Meter_GreenColor: applyTint(rgb(82, 197, 80));
    Meter_YellowColor: applyTint(rgb(248, 222, 52));
    Meter_BackgroundColor: applyTint(#303030);
    Meter_ObjectColorBlendingRatio: $Global_ObjectColorBackgroundBlendRatio;
    Meter_LabelColor: $Ruler_LabelDefaultColor;
    Meter_LabelChannelColor: $Ruler_LabelDefaultColor;

    LoudnessMeter_OverRangeColor: applyTint(rgb(221, 27, 27));
    LoudnessMeter_InRange0Color: applyTint(rgb(33, 163, 16));
    LoudnessMeter_InRange1Color: applyTint(rgb(255, 225, 0));
    LoudnessMeter_UnderRangeColor: applyTint(#3072C3);

    PlatformRestriction_BackgroundColor: $Global_Background;
    PlatformRestriction_RestrictedColor: applyTint(rgba(75, 132, 153, 0.3));

    State_BackgroundColor: $Global_Background;

    ImageControl_BackgroundColor: $Global_Background;

	CrossfadeBox_PointColor: applyTint(rgba(255, 255, 255, 1.0));
	CrossfadeBox_SelectedPointColor: applyTint(rgba(60, 60, 60, 1.0));
	CrossfadeBox_UnfocusedPointColor: applyTint(rgba(200, 200, 200, 1.0));
    CrossfadeBox_UnfocusedSelectedPointColor: applyTint(rgba(90, 90, 90, 1.0));
	CrossfadeBox_PointEdgeColor: applyTint(rgba(16, 16, 16, 1.0));
	CrossfadeBox_UnfocusedPointEdgeColor: applyTint(rgba(60, 60, 60, 1.0));
	CrossfadeBox_FrameColor: applyTint(rgba(253, 255, 116, 0.5));
    CrossfadeBox_FrameColorAlternate: applyTint(rgba(116, 253, 255, 0.5));
	CrossfadeBox_CenterColor: applyTint(rgba(253, 255, 116, 0.25));
    CrossfadeBox_CenterColorAlternate: applyTint(rgba(116, 253, 255, 0.25));
	CrossfadeBox_CurveColor: applyTint(rgba(175, 175, 80, 1.0));
    CrossfadeBox_CurveColorAlternate: applyTint(rgba(80, 175, 175, 1.0));
	CrossfadeBox_SelectionFrameColor: applyTint(rgba(175, 175, 80, 0.75));
    CrossfadeBox_SelectionFrameColorAlternate: applyTint(rgba(80, 175, 175, 0.75));
    CrossfadeBox_TextColor: applyTint(rgba(30, 30, 30, 0.25));
}
