@import "global";

@mixin wwise_exports {      // This is the App folder

    ControlContainer_BackgroundColor: applyTint(rgb(153, 153, 153));
    ControlContainer_BorderColor: applyTint(#bbbbbb);

    ControlLastCSEventReceived_DeviceTextColor: $Global_NormalText;
    ControlLastCSEventReceived_Data1TextColor: $Global_NormalText;
    ControlLastCSEventReceived_Data2TextColor: $Global_NormalText;

    ControlNavigationManager_BackgroundColor: applyTint(rgb(153, 153, 153));
    ControlNavigationManager_BorderColor: applyTint(#bbbbbb);

    ControlLastPropertyChanged_TextColor: $Global_NormalText;
    ControlLastPropertyChanged_ValueColor: $Global_Text;

    ControlSurface_BackgroundColor: $Global_Background;

    StatusBar_BackgroundColor: $Global_Background;
    StatusBar_Highlight: $Global_BackgroundSelectedUnfocus;
    StatusBar_MarginLine1: applyTint(rgb(160, 160, 160));
    StatusBar_MarginLine2: applyTint(rgb(120, 120, 120));
    StatusBar_TextColor: $Global_NormalText;
    StatusBar_TextColorDisabled: $Global_DisabledText;
    
    Toolbar_BackgroundColor: $Global_Background;

    Frame_BackgroundColor: $Global_FrameBackground;
    LayoutRoot_BackgroundColor: $Global_SeparatorBackground;

    RemoteConnection_BackgroundOn: $Global_Accent;
}
