@mixin attenuationeditor_exports {
    AttenuationSettingsPage_CurveVolumeDry: rgb(242, 61, 61);
    AttenuationSettingsPage_CurveVolumeWetGame: rgb(191, 120, 48);
    AttenuationSettingsPage_CurveVolumeWetUser: rgb(140, 88, 35);
    AttenuationSettingsPage_CurveLowPassFilter: rgb(35, 105, 140);
    AttenuationSettingsPage_CurveHighPassFilter: rgb(48, 143, 191);
    AttenuationSettingsPage_CurveSpread: rgb(181, 242, 61);
    AttenuationSettingsPage_CurveFocus: rgb(104, 166, 41);
}
