@import "global";
@import "controls";

$CaptureList_TimeBulletMinColor: 130;
$CaptureList_TimeBulletMaxColor: 255;

@mixin gameprofiler_exports {

    CaptureButton_BackgroundOffColor: $Global_ButtonBackground;
    CaptureButton_BackgroundOnColor: $Global_CaptureAccent;

    FollowCaptureButton_BackgroundOffColor: $Global_ButtonBackground;
    FollowCaptureButton_BackgroundOnColor: $Global_Accent;

    BandPerformanceGraph_BandNameTextColor: applyTint(rgb(190, 190, 190));
    BandPerformanceGraph_DisabledBandNameTextColor: applyTint(#EB6B57);
    BandPerformanceGraph_BandBackgroundLeft1Color: applyTint(rgb(80, 80, 80));
    BandPerformanceGraph_BandBackgroundLeft2Color: applyTint(rgb(88, 88, 88));
    BandPerformanceGraph_BandBackgroundRightColor: applyTint(rgb(48, 48, 48));

    BasePerformanceGraph_TimeLabelColor: applyTint(rgb(164, 164, 164));
    BasePerformanceGraph_RulerBackgroundColor: applyTint(rgb(80, 80, 80));
    BasePerformanceGraph_NormalTickColor: applyTint(rgb(110, 110, 110));
    BasePerformanceGraph_TimeTickColor: applyTint(rgb(110, 110, 110));
    BasePerformanceGraph_GameCursorColor: applyTint(rgb(173, 41, 0));
    BasePerformanceGraph_UserCursorColor: applyTint(rgb(255, 255, 255));

    CaptureList_ErrorBackgroundColor: applyTint(rgb(254, 61, 58));
    CaptureList_MessageBackgroundColor: applyTint(rgb(249, 237, 0));
    CaptureList_MessageInvertTextColor: applyTint(black);
    CaptureList_MessageOverlayColor: rgba($Global_ListBackground, 0.2);
    CaptureList_BackgroundColor: $Global_ListBackground;
    CaptureList_RelatedBulletColor: applyTint(rgb(96, 96, 96));
    CaptureList_RelatedBulletLineColor: applyTint(rgb(220, 220, 220));
    CaptureList_TimeBulletLineMinColor: applyTint(mix(rgb(0, 255, 255), $Global_ListBackground, 10%));
    CaptureList_TimeBulletLineMaxColor: applyTint(rgb(0, 255, 255));

    DialogGraph_ActionVolumeBackgroundColor: applyTint(rgb(210, 210, 210));
    DialogGraph_ActionLowpassBackgroundColor: applyTint(rgb(210, 210, 210));
    DialogGraph_ActionHipassBackgroundColor: applyTint(rgb(210, 210, 210));
    DialogGraph_EffectsBackgroundColor: applyTint(rgb(106, 187, 214));
    DialogGraph_MixerBackgroundColor: applyTint(rgb(106, 214, 187));

    DialogGraph_ActionVolumeBackgroundHighlightedColor: applyTint(lighterColor(rgb(210, 210, 210)));
    DialogGraph_ActionLowpassBackgroundHighlightedColor: applyTint(lighterColor(rgb(210, 210, 210)));
    DialogGraph_ActionHipassBackgroundHighlightedColor: applyTint(lighterColor(rgb(210, 210, 210)));
    DialogGraph_EffectsBackgroundHighlightedColor: applyTint(lighterColor(rgb(106, 187, 214)));
    DialogGraph_MixerBackgroundHighlightedColor: applyTint(lighterColor(rgb(106, 214, 187)));

    GameSyncGraph_Band1Color: applyTint(rgb(49, 171, 21));
    GameSyncGraph_Band2Color: applyTint(rgb(201, 105, 0));
    GameSyncGraph_Band3Color: applyTint(rgb(225, 53, 230));
    GameSyncGraph_Band4Color: applyTint(rgb(91, 115, 249));
    GameSyncGraph_Band5Color: applyTint(rgb(226, 213, 20));
    GameSyncGraph_GridColor: applyTint(rgb(57, 57, 57));
    GameSyncGraph_RulerTextColor: applyTint(rgb(164, 164, 164));
    GameSyncGraph_RulerLabelColor: $Ruler_LabelDefaultColor;

    // http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo
    VoiceColor_PaletteColor1: $Global_CurveColorLightBlue;
    VoiceColor_PaletteColor2: $Global_CurveColorRed;
    VoiceColor_PaletteColor3: $Global_CurveColorYellowGreen;
    VoiceColor_PaletteColor4: $Global_CurveColorRedOrange;
    VoiceColor_PaletteColor5: $Global_CurveColorGreen;
    VoiceColor_PaletteColor6: $Global_CurveColorDarkBlue;
    VoiceColor_PaletteColor7: $Global_CurveColorOrange;
    VoiceColor_PaletteColor8: $Global_CurveColorYellow;
    VoiceColor_PaletteColor9: $Global_CurveColorBrownGray;
    VoiceColor_PaletteColorDark1: $Global_CurveColorLightBlueDarkened;
    VoiceColor_PaletteColorDark2: $Global_CurveColorRedDarkened;
    VoiceColor_PaletteColorDark3: $Global_CurveColorYellowGreenDarkened;
    VoiceColor_PaletteColorDark4: $Global_CurveColorRedOrangeDarkened;
    VoiceColor_PaletteColorDark5: $Global_CurveColorGreenDarkened;
    VoiceColor_PaletteColorDark6: $Global_CurveColorDarkBlueDarkened;
    VoiceColor_PaletteColorDark7: $Global_CurveColorOrangeDarkened;
    VoiceColor_PaletteColorDark8: $Global_CurveColorYellowDarkened;
    VoiceColor_PaletteColorDark9: $Global_CurveColorBrownGrayDarkened;
    VoiceColor_PaletteColorLight1: $Global_CurveColorLightBlueLightened;
    VoiceColor_PaletteColorLight2: $Global_CurveColorRedOrangeLightened;
    VoiceColor_PaletteColorLight3: $Global_CurveColorYellowGreenLightened;
    VoiceColor_PaletteColorLight4: $Global_CurveColorRedOrangeLightened;
    VoiceColor_PaletteColorLight5: $Global_CurveColorGreenLightened;
    VoiceColor_PaletteColorLight6: $Global_CurveColorDarkBlueLightened;
    VoiceColor_PaletteColorLight7: $Global_CurveColorOrangeLightened;
    VoiceColor_PaletteColorLight8: $Global_CurveColorYellowLightened;
    VoiceColor_PaletteColorLight9: $Global_CurveColorBrownGrayLightened;
    
    GraphEventNode_TextColor: applyTint(rgb(0,0,0));

    GraphSoundNode_TextColor: applyTint(rgb(0,0,0));
    GraphSoundNode_VirtualTextColor: applyTint(rgb(0,0,0));
    GraphSoundNode_VirtualIndicatorTextColor: applyTint(rgb(90,90,90));
    GraphSoundNode_VirtualBackgroundColor: applyTint(rgb(210, 210, 210));
    GraphSoundNode_BackgroundColor: applyTint(rgb(180, 180, 180));
    
    DeviceNode_BackgroundColor: applyTint(rgb(180, 180, 180));

    LoundnessMeter_BackgroundGroupColor: applyTint(#303030);
    LoundnessMeter_BackgroundColor: $Global_Background;
    LoundnessMeter_TextColor: $Global_NormalText;
    LoundnessMeter_ButtonCheckedColor: applyTint(#CA200B);
    
    VoiceMonitorGraph_RulerBackgroundColor: applyTint(rgb(80, 80, 80));
    VoiceMonitorGraph_RulerLabelColor: $Ruler_LabelDefaultColor;
    VoiceMonitorGraph_RulerTextColor: applyTint(rgb(164, 164, 164)); // Weird C++ code, might be useless.
    VoiceMonitorGraph_GridColor: applyTint(rgb(57, 57, 57));
    VoiceMonitorGraph_BackgroundColor: applyTint(#303030);
    VoiceMonitorGraph_WindowColor: applyTint(rgba(87, 165, 192, 0.1882));

    ObservableBandPerformanceGraph_GridColor: applyTint(rgb(57, 57, 57));
    ObservableBandPerformanceGraph_RulerTextColor: applyTint(rgb(164, 164, 164));
    ObservableBandPerformanceGraph_RulerLabelColor: $Ruler_LabelDefaultColor;

    //List View with Alternating Rows
    // Row 1 - The darker row
    VoiceInspector_ListRow1Background: $Global_ListRow1Background;
    VoiceInspector_ListRow1BorderTop: $Global_ListRow1BorderTop;
    VoiceInspector_ListRow1BorderBottom: $Global_ListRow1BorderBottom;
    // Row 2 - The lighter row
    VoiceInspector_ListRow2Background: $Global_ListRow2Background;
    VoiceInspector_ListRow2BorderTop: $Global_ListRow2BorderTop;
    VoiceInspector_ListRow2BorderBottom: $Global_ListRow2BorderBottom;
    // Hierarchy Row
    VoiceInspector_ListRowParentBackground: $Global_ListRowParentBackground;
    VoiceInspector_ListRowParentBorderTop: $Global_ListRowParentBorderTop;
    VoiceInspector_ListRowParentBorderBottom: $Global_ListRowParentBorderBottom;
    // Selection Gutter
    VoiceInspector_ListSideSelectionGutter: $Global_ListSideSelectionGutter;
    VoiceInspector_ListSideSelection: $Global_ListSideSelection;
    VoiceInspector_ListSideSelectionPartial: $Global_ListSideSelectionPartial;
    // Value Text
    VoiceInspector_TreeListTextStrong: $Global_TreeListTextStrong;
    VoiceInspector_TreeListTextWeak: $Global_TreeListTextWeak;
    VoiceInspector_TreeListSecondaryValueTextStrong: $Global_TreeListSecondaryValueTextStrong;
    VoiceInspector_TreeListSecondaryValueTextWeak: $Global_TreeListSecondaryValueTextWeak;
    VoiceInspector_TreeListMixedValueTextStrong: $Global_TreeListMixedValueTextStrong;
    VoiceInspector_TreeListMixedValueTextWeak: $Global_TreeListMixedValueTextWeak;

    VoiceInspector_RowBackgroundSelectedOverlay: $Global_ListBackgroundSelectedOverlay;
}
