@import "global";

$SegmentEditor_SelectionFrameColor: applyTint(rgb(0, 0, 0));
$TrackHeaderBackgroundColor: applyTint(rgb(132, 132, 132));
$Global_RulerFrameColor:applyTint(rgb(120, 120, 120));
$MusicClipFade_BoxBackgroundColor:applyTint(rgb(97, 171, 195));
$MusicClipFade_BoxFrameColor:applyTint(rgba(35, 82, 97, 0.78125));

@mixin musiceditor_exports {
    SegmentEditor_BackgroundColor: applyTint(#8c8c8c);
    SegmentEditor_SelectionFrameColor: $SegmentEditor_SelectionFrameColor;

    PlayCursor_LineColor: $Global_TimeCursor;

    MarkerCursor_LineColor: applyTint(rgb(255, 128, 0));
    MarkerCursor_EntryLineColor: applyTint(green);
    MarkerCursor_ExitLineColor: applyTint(red);

    EndCursor_LineColor: applyTint(rgb(80, 80, 80));

    // Alpha is used to specify how much of the border color is blended with the palette color.
    MusicClipControl_SelectionFrameBrushColor: rgba($SegmentEditor_SelectionFrameColor, 1.0);
    MusicClipControl_NormalFrameBrushColor: applyTint(rgba(32, 32, 32, 0.1));
    MusicClipControl_WaveColor: applyTint(rgba(10, 10, 10, 0.6));
    
    MusicClipFade_BoxBackgroundColor: $MusicClipFade_BoxBackgroundColor;
    MusicClipFade_DisabledBoxBackgroundColor: mix($MusicClipFade_BoxBackgroundColor, $Global_Background, 25%);
    MusicClipFade_BoxFrameColor: $MusicClipFade_BoxFrameColor;
    MusicClipFade_DisabledBoxFrameColor: mix($MusicClipFade_BoxFrameColor, $Global_Background, 25%);
    MusicClipFade_CurveColor: $MusicClipFade_BoxFrameColor;

    // Alpha is used to specify how much of the border color is blended with the palette color.
    MusicClipMidi_NormalFrameColor: applyTint(rgba(32, 32, 32, 0.1));
    MusicClipMidi_SelectionFrameColor: rgba($SegmentEditor_SelectionFrameColor, 1.0);
    MusicClipMidi_DottedLineColor: applyTint(rgb(47, 111, 133));
    MusicClipMidi_TextFrameColor: applyTint(rgba(200, 200, 200, 0));
    MusicClipMidi_SelectedTextFrameColor: applyTint(rgba(96,96,96, 0.3));
    MusicClipMidi_NoteColor: applyTint(rgba(10, 10, 10, 0.6));
    MusicClipMidi_NameColor: applyTint(rgb(150, 0, 0));
    MusicClipMidi_BackgroundColor: applyTint(rgba(250, 250, 250, 0));
    MusicClipMidi_SelectedBackgroundColor: applyTint(rgba(250, 250, 250, 0.1));
    MusicClipMidi_Transparency: rgba(0, 0, 0, 0.3); // Only alpha is used

    // Alpha is used to specify how much of the border color is blended with the palette color.
    MusicEventCue_NormalFrameColor:  $Global_StructureBorder;
    MusicEventCue_SelectionFrameColor: rgba($SegmentEditor_SelectionFrameColor, 0.3);
    MusicEventCue_TextFrameColor: magenta;
    MusicEventCue_SelectedTextFrameColor: applyTint(rgba(96,96,96, 0.3));
	MusicEventCue_BrightenFrameFactor: rgba(0, 0, 0, 0.1); // Only alpha is used
	MusicEventCue_BrightenPoleFactor: rgba(0, 0, 0, 0.3); // Only alpha is used

    MusicEventCue_Transparency: rgba(0, 0, 0, 0.6); // Only alpha is used
    
    TrackHeaderButton_BackgroundColor:applyTint(rgb(0, 0, 0));
    TrackHeaderButton_NormalText:$Global_NormalText;

    MusicRandomSequenceContainerEditorControl_DragAndDropColor:applyTint(rgb(255, 0, 0));
    MusicRandomSequenceContainerEditorControl_TreeLineColor:applyTint(rgb(202, 202, 202));
    MusicRandomSequenceContainerEditorControl_DropHoverColor:$Global_DropHover;

    MusicFadeViewer_ActiveObjectColor:applyTint(rgb(225, 225, 225));
    MusicFadeViewer_InactiveObjectColor:applyTint(rgb(128, 128, 128));
    MusicFadeViewer_FadeColor:applyTint(rgba(255, 0, 0, 255));

    MarkerCursor_CueNameShadowColor:applyTint(#777777);
    MarkerCursor_CueNameDisabledShadowColor:applyTint(rgb(74, 72, 70));
    MarkerCursor_CueNameTextBackgroundColor:applyTint(#FFFFDB);
    MarkerCursor_CueNameDisabledTextBackgroundColor:applyTint(rgb(199, 199, 163));
    MarkerCursor_CueNameTextColor:applyTint(#0a0a0a);

    SequenceControl_FrameColor:applyTint(rgb(128, 128, 128));
    SequenceControl_BackgroundColor:applyTint(rgb(210, 210, 210));
    SequenceControl_DropHoverColor:applyTint(rgb(200, 0, 0));
    SequenceControl_GridTickSmallColor:applyTint(rgb(200, 200, 200));
    SequenceControl_GridTickMediumColor:applyTint(rgb(190, 190, 190));
    SequenceControl_GridTickLargeColor:applyTint(rgb(190, 190, 190));

    SequenceHeaderControl_BackgroundColor:applyTint(rgb(210, 210, 210));
    SequenceHeaderControl_SequenceBackgroundColor:applyTint(rgb(149, 177, 149));
    SequenceHeaderControl_SequenceSelectedBackgroundColor:applyTint(#b4c8b4);
    SequenceHeaderControl_RandomBackgroundColor:applyTint(rgb(145, 164, 181));
    SequenceHeaderControl_RandomSelectedBackgroundColor:applyTint(#b2bfcb);
    SequenceHeaderControl_SwitchBackgroundColor:applyTint(rgb(225, 225, 120));
    SequenceHeaderControl_SwitchSelectedBackgroundColor:applyTint(#f0f0bb);

    SequenceHeaderControl_DialogBackgroundColor:$Global_Background;
    SequenceHeaderControl_BorderSelectedColor:applyTint(rgb(0, 0, 0));
    SequenceHeaderControl_ShadowColor:applyTint(rgb(90, 90, 90));
    SequenceHeaderControl_TrackHeaderBackgroundColor:$TrackHeaderBackgroundColor;

    TrackHeaderControl_BackgroundColor:$TrackHeaderBackgroundColor;
    TrackHeaderControl_BorderSelectedColor:applyTint(rgb(0, 0, 0));
    TrackHeaderControl_ShadowColor:applyTint(rgb(90, 90, 90));
    TrackHeaderControl_TitleSelectedTextColor:$Global_NormalText;
    TrackHeaderControl_TitleTextColor:applyTint(rgb(0, 0, 0));

    // Alpha is used to specify how much of the background color is blended with the object color (if any).
    TrackHeaderControl_TitleBackgroundColor:applyTint(rgba(180, 180, 180, 0));
    TrackHeaderControl_TitleBackgroundSelectedColor:applyTint(rgba(220, 220, 220, 0.3));

    TrackHeaderPropertyControl_NormalTextColor: $Global_NormalText;

    RulerControl_FrameColor:$Global_RulerFrameColor;
    RulerControl_BackgroundColor:$Global_RulerBackgroundColor;
    RulerControl_TextColor:$Global_RulerTextColor;
    RulerControl_TickSmallColor:$Global_RulerTickSmallColor;
    RulerControl_TickMediumColor:$Global_RulerTickMediumColor;
    RulerControl_TickLargeColor:$Global_RulerTickLargeColor;

    RulerBase_TextColor:$Global_RulerTextColor;
    RulerBase_TextLargeColor:applyTint(rgb(230, 230, 230));

    WaveRulerControl_FrameColor:$Global_RulerFrameColor;
    WaveRulerControl_BackgroundColor:$Global_RulerBackgroundColor;
    WaveRulerControl_TextColor:$Global_RulerTextColor;
    WaveRulerControl_TickSmallColor:$Global_RulerTickSmallColor;
    WaveRulerControl_TickMediumColor:$Global_RulerTickMediumColor;
    WaveRulerControl_TickLargeColor:$Global_RulerTickLargeColor;

    WaveViewerControl_WaveformColor: applyTint(rgb(10, 10, 10));
    WaveViewerControl_BackgroundColor: applyTint(rgb(130, 130, 130));
    WaveViewerControl_BorderColor: applyTint(rgb(120, 120, 120));
    WaveViewerControl_LoopLineColor: applyTint(rgb(47, 111, 133));
    WaveViewerControl_ErrorTextColor: applyTint(rgb( 150, 0, 0 ));

    WaveControl_DefaultBackgroundColor: applyTint(rgb( 43, 43, 43 ));

    MusicEditorFrame_BackgroundColor: $Global_Background;
    MusicEditorFrame_TextColor: $Global_NormalText;
}
