<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.17" targetFramework="net40" requireReinstallation="true" />
  <package id="HtmlAgilityPack" version="1.5.0-beta5" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="ScrapySharp" version="2.6.2" targetFramework="net45" />
  <package id="SpotifyAPI-NET" version="2.14.1" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.4.0-preview1-25305-02" targetFramework="net40" requireReinstallation="true" />
</packages>