<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="3.4.3" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FSharp.Core" version="5.0.2-beta.21102.10" targetFramework="net48" />
  <package id="Google.Apis" version="1.51.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.51.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net48" />
  <package id="Google.Apis.YouTube.v3" version="1.51.0.2294" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0-preview.3.21201.4" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Access" version="15.0.4420.1017" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net471" />
  <package id="SpotifyAPI.Web" version="6.2.0" targetFramework="net48" />
  <package id="SpotifyAPI.Web.Auth" version="6.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="6.0.0-preview.3.21201.4" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.3.21201.4" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0-preview.3.21201.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Unosquare.Swan.Lite" version="3.1.0" targetFramework="net48" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net45" />
</packages>